/* Définition des couleurs personnalisées */
:root {
    --blue-color: #007bff; /* Couleur bleue */
    --green-color: #dfe9e1; /* Couleur verte */
    --red-color: #dc3545; /* Couleur rouge */
}

/* Styles généraux */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif; /* Police de caractères */
    margin: 0; /* Suppression des marges */
    padding: 0; /* Suppression des espacements internes */
}

/* En-tête */
header {
    color: rgb(0, 0, 0); /* Couleur du texte */
    display: flex; /* Affichage en mode flexbox */
    align-items: center; /* Alignement vertical au centre */
    padding: 10px; /* Espacement intérieur */
}

.logo {
    flex: 0 0 auto; /* Ne pas agrandir, ne pas réduire, taille automatique */
}

.logo img {
    width: 200px; /* Taille du logo */
}

.title {
    flex: 1; /* Agrandissement de l'espace disponible */
    text-align: right; /* Alignement à droite */
    width: 50px; /* Largeur fixe */
    margin-right: 30px; /* Marge à droite */
}

.content{
    background-color: var(--blue-color); /* Couleur de fond */
    width: 140px; /* Largeur */
    float: right; /* Flottement à droite */
    color: #ffffff; /* Couleur du texte */
    border-radius: 8px; /* Bordure arrondie */
}

/* Image d'accueil */
.image-container {
    text-align: center; /* Alignement du texte au centre */
    margin-top: 10px; /* Marge en haut */
}

.image-container img {
    max-width: 15%; /* Largeur maximale */
    margin-bottom: 10px; /* Marge en bas */
}

/* Conteneur principal */
.container {
    display: grid; /* Utilisation de CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 20px; /* Espacement entre les éléments */
    padding: 0 20px; /* Espacement intérieur */
}

/* Formulaire d'ajout de tâche */
.task-input {
    background-color: var(--green-color); /* Couleur de fond */
    border: 1px solid var(--blue-color); /* Bordure */
    border-radius: 8px; /* Bordure arrondie */
    padding: 20px; /* Espacement intérieur */
}

.task-input h2 {
    margin-top: 0; /* Suppression de la marge supérieure */
    text-align: center; /* Alignement au centre */
}

.task-input form {
    display: flex; /* Affichage en mode flexbox */
    flex-direction: column; /* Empilement vertical */
    gap: 10px; /* Espacement entre les éléments */
}

.task-input input[type="text"],
.task-input select,
.task-input button {
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Bordure arrondie */
    border: 1px solid #ced4da; /* Bordure */
}

/* Liste des tâches */
.task-list {
    background-color: var(--green-color); /* Couleur de fond */
    border: 1px solid var(--blue-color); /* Bordure */
    border-radius: 8px; /* Bordure arrondie */
    padding: 20px; /* Espacement intérieur */
    overflow-wrap: anywhere;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-list .task-item {
    display: flex; /* Affichage en mode flexbox */
    align-items: center; /* Alignement vertical au centre */
    gap: 10px; /* Espacement entre les éléments */
}

.task-list .task-item label {
    flex: 1; /* Agrandissement de l'espace disponible */
}

button[type="submit"] {
    background-color: var(--blue-color); /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
}

button[type="submit"]:hover {
    background-color: #218838; /* Couleur de fond au survol */
    color: #ffffff; /* Couleur du texte au survol */
}

/* Media query pour rendre le design responsive */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Une seule colonne */
    }
    .task-input, .task-list, .task-details {
        max-width: 100%; /* Largeur maximale de 100% */
    }

    .logo img {
        width: 100%; /* Largeur maximale pour s'adapter aux écrans plus petits */
    }

    .title {
        text-align: center; /* Centrer le texte sur les écrans plus petits */
        margin-right: 0; /* Supprimer la marge sur les côtés pour utiliser tout l'espace disponible */
    }

    .content {
        width: auto; /* Largeur automatique pour s'adapter au contenu */
        float: none; /* Annuler le flottement pour centrer le contenu */
    }

    .image-container img {
        max-width: 80%; /* Réduire la taille de l'image pour s'adapter aux écrans plus petits */
    }
}

/* Media query pour rendre le design responsive */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Une seule colonne */
    }
    .task-input, .task-list, .task-details {
        max-width: 100%; /* Largeur maximale de 100% */
    }

    .logo img {
        width: 100%; /* Largeur maximale pour s'adapter aux écrans plus petits */
    }

    .title {
        text-align: center; /* Centrer le texte sur les écrans plus petits */
        margin-right: 0; /* Supprimer la marge sur les côtés pour utiliser tout l'espace disponible */
    }

    .content {
        width: auto; /* Largeur automatique pour s'adapter au contenu */
        float: none; /* Annuler le flottement pour centrer le contenu */
    }

    .image-container img {
        max-width: 80%; /* Réduire la taille de l'image pour s'adapter aux écrans plus petits */
    }
}


